<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Despesas</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped" tablename="despesas" noaddbutton="true"
                        nodeletebutton="true">
                        <thead>
                            <tr>
                                <td></td>
                                <th class="col-sm-1">Ref</th>
                                <th class="col-sm-2">Data</th>
                                <th class="col-sm-2">Despesa</th>
                                <th class="col-sm-2">Fornecedor</th>
                                <th class="col-sm-3">Histórico</th>
                                <th class="col-sm-2">Valor</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="despesa in vm.Formulario.despesas">
                                <td>
                                    <span ng-if="vm.Params.edit"
                                        ng-click="vm.removeChild(vm.Formulario.despesas, despesa)"
                                        class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
                                </td>
                                <td>
                                    <h4>{{$index}}</h4>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="despesa_dataInput"
                                        ng-model="despesa.data" fluig-date-mask>
                                    <input type="hidden" name="despesa_data" ng-value="despesa.data">
                                </td>
                                <td>
                                    <input type="text" fluig-autocomplet class="form-control"
                                        name="despesa_despesaInput" ng-model="despesa.despesa" values="Despesas"
                                        display-key="descricao">
                                    <input type="hidden" class="form-control" name="despesa_despesa"
                                        ng-value="despesa.despesa | json:0">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="despesa_fornecedor"
                                        ng-model="despesa.fornecedor" ng-value="despesa.fornecedor">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="despesa_historico"
                                        ng-model="despesa.historico" ng-value="despesa.historico">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="despesa_valorInput"
                                        ng-model="despesa.valor" fluig-money-mask>
                                    <input type="hidden" class="form-control" name="despesa_valor"
                                        ng-value="despesa.valor">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-if="vm.Params.edit" type="button" class="btn btn-lg btn-default"
                        ng-click="vm.Formulario.despesas.push({})">Incluir Despesa</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{vm.Formulario.despesas | json}}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resumo</h3>
            </div>
            <div class="panel-body">


                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Adiantamento</label>
                        <input type="text" name="adiantamento_input" class="form-control"
                            ng-model="vm.Formulario.adiantamento" fluig-money-mask>
                        <input type="hidden" name="adiantamento" class="form-control"
                            ng-value="vm.Formulario.adiantamento">
                        <!-- <div class="alert alert-warning animate fs-sm-space" role="alert">
                            <span class="fluigicon fluigicon-md fluigicon-exclamation-sign"></span> Somente preencher se houve adiantamento
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="form-group">
                        <label class="control-label">Total de Despesas</label>
                        <h3>{{1000.43 | currency}}</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Montante a ser reembolsado ou pago</label>
                        <h3 class="text-danger">{{-99.57 | currency}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>